- content_for :title do
  New message to #{@receiver.contact_name}
- content_for :sub_title do
  Let us know any general enquiries you have.  We'll be notified by email and get back to you shortly
%ul.latest-charges
  .ui.comments  
    %li.charge
      .ui.center.aligned.grid
        .center.aligned.sixteen.wide.column
          .ui.items
            .ui.item
              .content 
                = render 'form'
