- content_for :title do 
  = "Your support conversations"
- content_for :sub_title do 
  = "View and respond to the conversation below"
%ul.latest-charges
  .ui.comments
    = render @support_conversations

%br

/ # = link_to 'New Support conversation', new_support_conversation_path
