.ui.modal{id: "modal__contact-options" }
  .header Are you requesting help for a website or a this a general enquiry?
  .content

    -unless current_client.websites.empty?
      = link_to 'Create a New Support Request', new_support_conversation_path(receiver_id: @support_receiver), class: "ui button basic"
    = link_to 'New General Enquiry', new_message_path(receiver_id: @support_receiver, generic_contact: true), class: "ui button basic"
/ .ui.modal{id: "modal__contact__form-support" }
/   .header 
/     New Support Request to #{@support_receiver.contact_name}
/   / .content
/   /   / TODO: Contact Section
/   /   %p Please fill out the below; we'll get back to you ASAP and usually within a few hours
/   /   = simple_form_for @support_conversation do |f|
/   /     = hidden_field_tag 'receiver_id', @support_receiver.uuid
/   /     .ui.field
/   /       / = f.association :websites
/   /     .ui.field
/   /       / = f.text_area :body
/   /     .ui.field
/   /       = f.button :submit, "Send"
/   /     .actions
/   /       .ui.approve.button Send             
/ .ui.modal{id: "modal__contact__form-enquiry" }
/   .header General Enquiry
/   .content
/     / TODO: Contact Section
/     %p Please fill out the below; we'll get back to you ASAP and usually within a few hours
/     %form
/       .ui.fields
/         %textarea
/   .actions
/     .ui.approve.button Send   