.ui.modal.basic{id: "modal__contact-options" }
  .header Are you requesting help for a website or a this a general enquiry?
  .content
    / TODO: Contact Section
    %p You can lodge a support request or simply send us an email
  .actions
    .ui.support.button I need website support
    .ui.enquiry.button I have a general enquiry
.ui.modal{id: "modal__contact__form-support" }
  .header Support Request
  .content
    / TODO: Contact Section
    %p Please fill out the below; we'll get back to you ASAP and usually within a few hours
    %form
      .ui.fields
        %textarea
  .actions
    .ui.approve.button Send             
.ui.modal{id: "modal__contact__form-enquiry" }
  .header General Enquiry
  .content
    / TODO: Contact Section
    %p Please fill out the below; we'll get back to you ASAP and usually within a few hours
    %form
      .ui.fields
        %textarea
  .actions
    .ui.approve.button Send   