main {
    // background: rgb(248,247,243);
    height: 100% !important;
    max-height: 100%;
}

section.about {
    background-color: #34363E;
    padding-top: 120px;
}

///Layout
//match height of main (pusher) to sidebar
main {}

//Header
.header {
    // background: #fff;
    margin-bottom: 3rem;

    // Main header flex layout

    #header-wrap {
        display: flex;
        flex-flow: row wrap;
    }

    .header-text {
        order: 6;
        flex: 0 0 100%;
    }

    .toc.item {
        order: 1;
        flex: 50%;
    }

    .flexed-drop {
        flex: 50%;
        order: 2;

        /* flex: 0 0 50%; */
        text-align: right;
    }
}

.ui.vertical.segment, .ui.segment {
    background: #fff;
}

///SIDEBAR /// MENUS
.ui.menu {
    border: none;
}

.ui.item, a {
    transition: color .2s ease-in-out;
}

.ui.icon.menu .item {
    text-align: left;
}

.ui.inverted.segment,
.ui.primary.inverted.segment {
    background: #006b0c;
    color: #dbfddd;
}

.ui.vertical.menu {
    background-color: initial;
}

.ui.vertical.menu.sidebar {
    background: rgb(248, 247, 243);
}

.ui.vertical.menu.sidebar {
    // width: 260px;
    background-image: url("/assets/client-menu-bg.svg");
    background-repeat: no-repeat;
    background-size: 500px auto;
    height: 100vh;
    background-color: #383A35;
    background-position-y: 100%;
    background-position-x: 100%;

    // -webkit-transform: translate3d(-100%, 0, 0);
    // transform: translate3d(-100%, 0, 0);
}

.ui.icon.menu .item {
    color: #E3E8DC;

    &:hover:not(.disabled) {
        color: rgba(255, 255, 255, 0.7);
    }

    &.disabled {
        cursor: default;
        background-color: transparent !important;
        color: rgba(90, 90, 90, 0.9);
    }

    &.main-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #E3E8DC;

        @media only screen and (max-width: 992px) {
            // display: block;
        }

        span {
            color: rgba(0, 255, 222, 0.6);
        }

        &:hover {
            color: rgba(255, 255, 255, 0.7);

            span {
                color: #fff;
            }
        }
    }
}

.ui.vertical.menu .active.item {
    background: rgba(0, 0, 0, 0.1);
    border-left: 3px solid rgba(0, 255, 222, 0.6);
    color: rgba(0, 255, 222, 0.8);
    font-weight: 400;

    &:hover:not(.disabled) {
        color: rgba(0, 255, 222, 0.6);
        background: rgba(0, 0, 0, 0.08);
    }
}

.ui.vertical.segment {
    border-bottom: 1px solid #e2e6e8;
}

.ui.vertical.segment:last-child {
    border-bottom: 1px solid #e2e6e8;
}

@media (min-height: 596px) {
    .column-layout-left .column-layout-top {
        background-position: left bottom;
    }
}

// .client-dashboard{
//   margin: 2rem;
// }