html {
    font-size: 16px;
}

@import "semantic-ui";

html {
    font-size: 16px;
}

body {
    background-color: #FFFFFF;
}

.main.container {
    margin-top: 2em;
}

.main.menu {
    margin-top: 4em;
    border-radius: 0;
    border: none;
    box-shadow: none;
    transition: box-shadow 0.5s ease, padding 0.5s ease;
}

.main.menu .item img.logo {
    margin-right: 1.5em;
}

.overlay {
    float: left;
    margin: 0em 3em 1em 0em;
}

.overlay .menu {
    position: relative;
    left: 0;
    transition: left 0.5s ease;
}

.main.menu.fixed {
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.overlay.fixed .menu {
    left: 800px;
}

.text.container .left.floated.image {
    margin: 2em 2em 2em -4em;
}

.text.container .right.floated.image {
    margin: 2em -4em 2em 2em;
}

footer {
    margin-top: 3rem;

    // position: absolute;
    // width: 100%;
    // bottom: 2rem;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.ui.segment {
    background: #FFFFFF;
    box-shadow: $box-shadow;
    border: 1px solid rgba(100, 100, 100, 0.2);
    border-radius: 0;
}

.toc.item {
    display: none;
    opacity: 0;
}

body.pushable > .pusher {
    overflow: auto;
    background: #f2f5f7;
}

main.pusher {
    background: #f2f5f7;
    overflow: auto;
    overflow-y: scroll;
}

/* Small Monitor */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .ui.container {
        width: 630px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.ui.visible.left.sidebar ~ .fixed,
.ui.visible.left.sidebar ~ .pusher {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}

/* Large Monitor */
@media only screen and (min-width: 1200px) {
    .ui.container {
        width: 830px;
    }
}

@media only screen and (min-width: 1500px) {
    .ui.container {
        width: 1100px;
    }
}

@media (min-width: 992px) {
    .ui.wide.left.sidebar ~ .fixed, .ui.wide.left.sidebar ~ .pusher {
        -webkit-transform: translate3d(350px, 0, 0);
        transform: translate3d(350px, 0, 0);
        width: calc(100% - 350px);
    }

    .ui.uncover.sidebar {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

//Small -to mobile
@media only screen and (max-width: 992px) {
    .ui.form .field {
        margin: 0em 0em .3em;
    }

    .toc.item {
        display: initial;
        opacity: 1;
    }

    .pusher.dimmed {
        .toc.item.open {
            visibility: hidden;
        }
    }
}

.ui.dimmer {
    //Match Stripe's dimmer
    background-color: rgba(0, 0, 0, 0.6);
}

.ui.divider {
    width: 100%;
}

abbr[title] {
    border-bottom: none;
}

.ui.dropdown .menu {
    right: 0px;
    left: auto;
}

.ui.items > .item > .image {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 120px;
    flex-direction: column;

    & > img {
        width: 30%;
        width: 40%;
        margin-bottom: .5em;
    }
}

.ui.items > .item > .image:not(.ui) {
    width: 120px;
}

.ui.form .required.fields:not(.grouped) > .field > label:after, .ui.form .required.fields.grouped > label:after, .ui.form .required.field > label:after {
    display: none;
}