@import "semantic-ui";

body {
  background-color: #FFFFFF;
}
.main.container {
  margin-top: 2em;
}

.main.menu {
  margin-top: 4em;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition:
    box-shadow 0.5s ease,
    padding 0.5s ease
  ;
}
.main.menu .item img.logo {
  margin-right: 1.5em;
}

.overlay {
  float: left;
  margin: 0em 3em 1em 0em;
}
.overlay .menu {
  position: relative;
  left: 0;
  transition: left 0.5s ease;
}

.main.menu.fixed {
  background-color: #FFFFFF;
  border: 1px solid #DDD;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.overlay.fixed .menu {
  left: 800px;
}

.text.container .left.floated.image {
  margin: 2em 2em 2em -4em;
}
.text.container .right.floated.image {
  margin: 2em -4em 2em 2em;
}

footer{
  margin-top: 3rem;
  // position: absolute;
  // width: 100%;
  // bottom: 2rem;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.ui.segment {
    background: #FFFFFF;
    box-shadow: $box-shadow;
    border: 1px solid rgba(100,100,100,.2);
    border-radius: 0;
}

main.pusher {
    background: #f2f5f7;
}

/* Small Monitor */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .ui.container {
    width: 733px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ui.grid.container {
    width: calc( 933px  +  2rem ) !important;
  }

  .ui.relaxed.grid.container {
    width: calc( 933px  +  3rem ) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc( 933px  +  5rem ) !important;
  }
  .ui.visible.uncover.sidebar {
    width: 180px;  
  }
  .ui.visible.left.sidebar ~ .fixed,
  .ui.visible.left.sidebar ~ .pusher {
    margin-left: 180px;  
  }
}

.ui.visible.left.sidebar ~ .fixed,
.ui.visible.left.sidebar ~ .pusher {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  // margin-left: 260px;
}

/* Large Monitor */
@media only screen and (min-width: 1200px) {
  .ui.container {
    width: 927px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ui.grid.container {
    width: calc( 1127px  +  2rem ) !important;
  }

  .ui.relaxed.grid.container {
    width: calc( 1127px  +  3rem ) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc( 1127px  +  5rem ) !important;
  }
  .ui.visible.uncover.sidebar {
    width: 260px;  
  }  
  .ui.visible.left.sidebar ~ .fixed,
  .ui.visible.left.sidebar ~ .pusher {
    margin-left: 260px;  
  }  
}

.ui.divider {
    width: 100%;
}
abbr[title] {
    border-bottom: none;
}

.ui.dropdown .menu {
    right: 0px;
    left: auto;
}

.ui.items > .item > .image {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 120px;
    flex-direction: column;


    & > img {
      width: 30%;
      width: 40%;
      margin-bottom: .5em; 
            
    }
}
.ui.items > .item > .image:not(.ui) {
    width: 120px;
}

