// Semantic UI
$columnCount: 12;
$font-url: 'https://fonts.googleapis.com/css?family=Fira+Sans:300,400' !default;
$font-name: 'Fira Sans' !default;
$font-family: $font-name, sans-serif !default;

//Bourbon
$output-bourbon-deprecation-warnings: false;

///
// thredded forum
///

$thredded-base-font-family: $font-family;
$thredded-brand: #629df7;
$thredded-base-font-size: 1.143rem !default; // 16px
$thredded-font-size-small: 1rem !default; // 14px
$thredded-button-border-radius: 0px !default;

// -- Buttons
$thredded-button-background: #fff !default;
$thredded-button-color: $thredded-brand !default;
$thredded-button-hover-background: #fff !default;
$thredded-button-hover-color: darken($thredded-brand, 10%) !default;

$box-shadow: 0px 0px 1px 0 rgba(34, 36, 38, 0.05);