body{
  color: rgba(45, 61, 59, 0.8);
  background: white;
  // font-weight: bold;
  // letter-spacing: .5px;
}
h1,h2,h3,h4,h4,h6,b{
  font-family: $secondary-font-family;
  font-weight: 700;
}
h6, .h6 {
    color: #829ca9;
}

//Links
a{
  cursor: pointer;
  color: $linkColor;
  &:hover{
    color: darken($linkColor, 10%);
  }
}
a.item, .ui.menu a.item, a.ui.item, .item a, .ui.button {
  font-weight: 400;
  letter-spacing: 1px;
}