- content_for :title, 'Clients'
- content_for :sub_title do
  = "Viewing all clients"

%table.ui.celled.table
  %thead
    %tr
      %th Business
      %th Contact
      %th Email
      %th Confirmation
      %th Currency
  %tbody
    = render @clients

- @clients.each do |client|         
  = react_component('PageTitle', {clientName: client.business_name ? client.business_name : client.contact_name, client: client})

/ = react_component('HelloModal')

/ = link_to 'New Client', new_client_path  .ui.divided.items
.ui.segment
  = link_to 'Invite new client', new_client_invitation_path, class: 'ui basic button fluid'


