.container
  .grid
    .grid__item.color-3
      %nav.grid__links
        =link_to "Clients", dashboard_index_path, {"class": "left-link", "data-hover": "Clients"}
        / # %a.{"data-hover": "Clients"}
        / #   Clients
        %a.left-link{"data-hover": "Home"}
          Home
      .grid__bulk
        %a.link.link--nukun{:href => "#"}
          Built
          %span> in
          Code