- content_for :header do
  %span Built in Code Membership Renewed
/ - content_for :footer do
/   ="Hey Footer Here. Lots of Text to throw in."
%h4
  ="Hey #{@client.contact_name ? @client.contact_name : @client.business_name},"
%hr/
%p
  = @message
