%footer.footer
  .ui.center.aligned.container
    .ui.stackable.divided.grid
      .eight.wide.column
        %h4.ui.header Group 1
        .ui.link.list
          %a.item{:href => "#"} Link One
          %a.item{:href => "#"} Link Two
          %a.item{:href => "#"} Link Three
          %a.item{:href => "#"} Link Four
      .eight.wide.column
        %h4.ui.header Group 1
        .ui.link.list
          %a.item{:href => "#"} Link One
          %a.item{:href => "#"} Link Two
          %a.item{:href => "#"} Link Three
          %a.item{:href => "#"} Link Four
    .ui.grid
      %p The TransferWise program in the United States is sponsored by Community Federal Savings Bank, to which TransferWise is a service provider, except in certain states in which TransferWise Inc. is a licensed money transmitter.
    .ui.center.aligned.grid
      .ui.horizontal.small.divided.link.list
        .item © Built in Code #{Time.current.year}
        %a.item{:href => "#"} Contact Us
        %a.item{:href => "#"} Terms and Conditions
        %a.item{:href => "#"} Privacy Policy
    .ui.center.aligned.grid
      .ui.horizontal.small.divided.link.list
        .item © Swish Web Developers #{Time.current.year}
        %a.item{:href => "#"} Privacy Policy  
