.site-or-invoice-group
  .ui.grid  
    .one.column.row
      .column
        .ui.icon.message
          %i{class: type == "websites" ? "laptop icon" : "inbox icon"}
          .content
            .header
              = type == "websites" ? "No hosted sites to display yet" : "No invoices to display yet"

            %p
              = type == "websites" ? "You can view your sites here when they are set up." : "Your upcoming, paid, and past invoices will show up here." 